env
build
out
classes
logs
target
*.swp
*.pyc
*.iml
.vscode
.project
.classpath
.DS_Store
.idea
.gradle
.settings
output.txt
iTAK.xcodeproj/project.xcworkspace/xcuserdata/*
iTAK.xcworkspace/xcuserdata/*
xcuserdata/
itak.xcworkspace/contents.xcworkspacedata
Pods/*
fastlane/report.xml
